[user]
  name = Charlie Egan
  email = charlieegan3@users.noreply.github.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  filemode = false
[push]
  default = simple
[color]
  ui = auto
[commit]
  template = ~/.gitmessage
  gpgsign = true
[alias]
  s = ! git status -sb
  c = diff --cached --word-diff=color
  lg = log --pretty=format:'%Cred%h%Creset %Cblue%an %Creset(%Cgreen%ar%Creset) \t%<(55,trunc)%s' --max-count=40
  log = log --pretty=oneline
  co = clean -df && git checkout -- .
  cm = log -1 --pretty=%B
