[user]
	name = Charlie Egan
	email = git@charlieegan3.com
[core]
	editor = vi
	excludesfile = /Users/charlieegan3/.gitignore_global
[push]
    default = simple
[alias]
  lg = log --pretty=format:'%Cred%h%Creset %Cblue%an %Creset(%Cgreen%ar%Creset) \t%<(55,trunc)%s' --max-count=40
