*

!.gitignore
!.gitmessage
!.gitconfig
!.bashrc
!.inputrc
!com.googlecode.iterm2.plist
!.vimrc
!.gitignore_global
!Brewfile
!.iterm2_shell_integration.bash

!.vim
!.vim/spell
!.vim/spell/en.utf-8.add
.vim/spell/en.utf-8.add.spl

!.atom/
!.atom/.gitignore
!.atom/config.cson
!.atom/init.coffee
!.atom/keymap.cson
!.atom/snippets.cson
!.atom/styles.less

!.dockerignore
!Dockerfile.vim
