*

!README.md

!.gitignore
!.gitmessage
!.gitconfig
!.bashrc
!.inputrc
!.vimrc
!.gitignore_global
!Brewfile

!.vim
!.vim/spell
!.vim/spell/en.utf-8.add
.vim/spell/en.utf-8.add.spl

!.agignore

!*.terminal

!.i3
!.i3/config
!.i3status.conf

!.Xresources

!.config
!.config/compton.conf
