*

!README.md

!.gitignore
!.gitmessage
!.gitconfig
!.bashrc
!.inputrc
!.vimrc
!.dmenurc
!.gitignore_global
!Brewfile
!ubuntu_bootstrap.sh

!.vim
!.vim/spell
!.vim/spell/en.utf-8.add
.vim/spell/en.utf-8.add.spl
!.vim/colors
!.vim/colors/*.vim
!.vim/.undo
!.vim/.undo/.keep
!.vim/.backup
!.vim/.backup/.keep
!.vim/.swp
!.vim/.swp/.keep

!.agignore

!*.terminal

!.i3
!.i3/config
!.i3status.conf

!.Xresources

!.config
!.config/compton.conf
!.config/dunst
!.config/dunst/dunstrc
!.config/nvim/init.vim
!.config/nvim/colors/base16-default-dark.vim
!.config/nvim/spell/en.utf-8.add

!Code/.keep
